.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #dadada !important;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  background-color: #ffba08 !important;
}

.swiper-button-prev {
  width: 20px !important;
  height: 50px !important;
  color: #ffba08 !important;
}

.swiper-button-next {
  width: 20px !important;
  height: 50px !important;
  color: #ffba08 !important;
}
